h1 {
	text-align:center;
}



@media (min-width: 320px) {
	.menu__bar_item1, .menu__bar_item2, .menu__bar_item3 {
		color:red;
		text-decoration:none;
		display:block;
		margin: 0 auto;
		border: 2px solid black;
		background-color: pink;
		border-radius: 25px;
		text-align:center;	
		padding: 10px;	
		font-size:32px;
	}

	.menu__bar_item1 {
		background-color:yellow;
		border-color:yellow;
	}

	.menu__bar_item2 {
		background-color:red;
		color:black;
		border-color:red;
	}

	.menu__bar_item3 {
		background-color:blue;
		border-color:blue;
	}
}

@media (min-width: 1042px) {
	.menu__bar_item1,.menu__bar_item2, .menu__bar_item3 {
		color:blue;
		text-decoration:none;
		display:inline;
		border-color: white;
		border:none;
		font-size: 32px;
		background-color:white;
	}
}