h1 {
	text-align:center;
}



@media (min-width: 320px) {
	.menu__links {
		display:none;
	}

	h1 {
		display:none;
	}

	.menu__icon {
		
		width: 25%;
		margin: 20px 0px 0px 230px;
	}

	.menu__icon_item {
		display:block;
		width: 25px;
		height: 5px;
		border: 1px solid black;
		background-color: black;
		margin: 2px auto;
	}
}

@media (min-width: 1042px) {
	h1 {
		
		display:block;
	}

	.menu__links {
		color:blue;
		text-decoration:none;
		display:inline;
		border-color: white;
		border:none;
		font-size: 32px;
		background-color:white;
	}
	.menu__icon {
		display:none;
	}
}

#toggle {
  display: none;
}

#toggle:checked {

  & ~ .nav {
  }
}